<DOCTYPE html>
  <html lang="zh">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>堆糖，分享收集生活中的美好，遇见生活中的另一个你</title>
    <!-- <link href="http://www.duitang.com/favicon.ico" rel="SHORTCUT ICON"> -->
    <link href="plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheet/index.css" rel="stylesheet">
  </head>

  <body class="main">
    <header class="header">
      <div class="head-content">
        <!-- <section class="function-list"> -->
        <!-- <a href="#"></a> -->
        <!-- <div class="nav-button">
            分类
            <span class="glyphicon glyphicon-menu-up"></span>
          </div> -->
        <!-- <div class="header-search input-group">
            <input type="text" class="form-control" placeholder="搜索感兴趣的内容">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </section> -->
        <section class="user-info-list">
          <nav class="navbar navbar-nav">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#user-list" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <!-- <span class="icon-bar"></span> -->
                </button>
                <a class="navbar-brand" href="#">
                  <img src="image/20131224171644_TXGCC.png">
                </a>
              </div>
              <div class="collapse navbar-collapse" id="user-list">
                <button type="button" class="nav-button btn btn-default">
                  <span class="sr-only">(current)</span> 分类
                  <span class="glyphicon glyphicon-menu-up"></span>
                </button>
                <!-- </div> -->
                <div class="header-search input-group">
                  <input type="text" class="form-control" placeholder="搜索感兴趣的内容">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <span class="glyphicon glyphicon-search"></span>
                  </button>
                  </span>
                </div>
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                      <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <ul class="dropdown-menu hide-function-list">
                      <li>
                        <a href="#">
                          <span class="glyphicon glyphicon-arrow-up"></span>上传图片</a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="glyphicon glyphicon-link"></span>抓取网页图片</a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="glyphicon glyphicon-plus"></span>创建专辑</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">关注动态</a></li>
                  <li>
                    <a href="#">消息</a>
                  </li>
                  <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                      <span class="user-profile"></span>我的堆糖
                      <span class="glyphicon glyphicon-menu-up"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#">
                          <span class="glyphicon glyphicon-user"></span>个人主页
                        </a>
                      </li>
                      <li>
                        <a href=#>
                          <span class="glyphicon glyphicon-cog"></span>账号设置
                        </a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="#">
                          <span class="glyphicon glyphicon-arrow-right"></span>退出
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </section>
      </div>
    </header>
    <div class="content">
      <section class="recommend-and-hotpoint">
        <div class="row">
          <div id="recommend" class="carousel slide col-sm-7" data-ride="carousel">
            <ol class="carousel-indicators">
              <li class="template" data-target="#recommend" data-slide-to="0"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item template">
                <img src="" alt="">
                <div class="carousel-caption">
                  <h2></h2>
                  <p></p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" herf="#recommend" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#recommend" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="col-sm-5">
            <div class="hotpoint-block">
              <h4>社区热点</h4>
              <ul class="hotpoint nav nav-stacked">
                <li>
                  <ul class="nav hotpoint-nav nav-pills">
                    <li><a href="#">春天</a></li>
                    <li><a href="#">看看也好限量版</a></li>
                    <li><a href="#">手帐</a></li>
                    <li><a href="#">卖萌文具</a></li>
                    <li><a href="#">插画</a></li>
                    <li><a href="#">原创</a></li>
                    <li><a href="#">青丘狐传说</a></li>
                    <li><a href="#">你看起来很好吃</a></li>
                  </ul>
                </li>
                <li><a href="#">宅食必备技<span class="label label-warning">活动</span></a></li>
                <li><a href="#">『人气毛衣精选』 TOP100<span class="label label-danger">精选</span></a></li>
                <li><a href="#">收图小助手:  堆糖收集工具</a></li>
              </ul>
            </div>
            <div class="app-download">
              <a>
                <img src="image/20150410H0518_2udax.jpeg">
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="elaborate-albums">
        <h4>精选专辑
          <a href="#" target="_blank" class="label label-info">往期回顾></a>
        </h4>
        <div class="row albums">
        </div>
      </section>
      <section class="recommend-product">
        <h4>单品推荐
          <div class="recommend-categories-list">
          <span>良品购：</span>
          <ul class="nav recommend-categories nav-pills">
            <li><a href="#">全部</a></li>
            <li><a href="#">上衣</a></li>
            <li><a href="#">裙裤</a></li>
            <li><a href="#">配饰</a></li>
            <li><a href="#">鞋子</a></li>
            <li><a href="#">配饰</a></li>
            <li><a href="#">日杂</a></li>
          </ul>
        </div>
        </h4>
        <div class="row categories">
        </div>
      </section>
      <section class="expert-recommend">
        <h4>达人推荐
          <a href="#" target="_blank" class="label label-info">更多达人></a>
        </h4>
        <div class="row experts">
        </div>
      </section>
    </div>
    </div>
    <footer class="footer">
    </footer>
    <script type="text/template" id="single-album-view">
      <div class="col-sm-4 col-md-4 col-lg-2 single-album">
        <div class="album-info">
          <div class="front-cover">
            <img src="<%- imgUrl %>">
          </div>
          <div class="info-content">
            <div>
              <span class="collect">
              <span class="collect-count"><%- collectCount %></span>
              <span class="glyphicon glyphicon-bookmark"></span>
              </span>·
              <span class="lick">
              <span class="lick-count"><%- likeCount %></span>
              <span class="glyphicon glyphicon-heart"></span>
              </span>
            </div>
            <span>by
            <a href="#" class="author"><%- author %></a>
          </span>
          </div>
        </div>
        <div class="title">
          <a href="#">
            <%- title %>
          </a>
        </div>
      </div>
    </script>
    <script type="text/template" id="single-category-view">
      <div class="col-sm-4 col-md-4 col-lg-2 single-category">
        <div class="category-info">
          <div class="front-cover">
            <img src="<%- imgUrl %>">
          </div>
          <div class="info-content">
            <span class="shoping-people">
                <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="shoping-people-count"><%- userCount %></span>
            </span>
            <a href="#" target="_blank" class="open-button">去看看</a>
          </div>
        </div>
        <div class="title">
          <a href="#" class="item-page">
            <%- title %>
          </a>
          <a href="#" target="_blank" class="label label-warning">良品购</a>
        </div>
      </div>
    </script>
    <script type="text/template" id="single-expert-view">
      <div class="col-sm-4 col-md-4 col-lg-2 single-expert">
        <div>
          <a href="#" target="_blank" class="expert-link">
            <img class="theme-background" src="<%- backgroungUrl %>">
            <img class="expret-profile img-circle" src="<%- profileUrl %>">
            <p class="expert-name"><%- name %></p>
          </a>
          <div class="expert-info">
            <div class="star">
              <span class="glyphicon glyphicon-star">
          <span class="star-count"><%- stars %></span>
            </div>
            <div class="good-at">
              擅长领域：
              <span class="good-at-domain"><%- domain %></span>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script src="plugin/jQuery/jquery-1.12.0.min.js"></script>
    <script src="plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugin/underscore/underscore.js"></script>
    <script src="plugin/backbone/backbone.js"></script>
    <script src="javascript/pageData.js"></script>
    <script src="javascript/IndexPage.js"></script>
  </body>

  </html>
